body{
    background-color: black;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

p{
    color:rgb(255, 255, 255);
}

h1{
    font-weight: 300;
    margin-left: 2rem;
    padding-top: 1.5rem;
}

h2{
    font-weight: 300;
    margin-left: 2rem;
    padding-top: 1rem;
}

h3{
    color: rgb(255, 255, 255);
    font-style: italic;
    font-weight: 300;
    padding: 2rem; 
    text-align: center;
}

h4{
    font-weight: 200;
    padding: 1.5rem 2rem;
}

h6{
    font-weight: 200;
    text-align: center;
}

button{
    margin: 1rem 2rem 0 2rem;
    background-color: #fff;
    border-radius: 5px;
    padding: 1rem;
}

.fa-instagram{
    margin-right: 1rem;
}

.fa-facebook{
    margin-right: 1rem;
    padding-bottom: 3rem;
}

  table {
    padding-left: 2rem;
    width: 100%;
  }
  
  th{
      text-align: left;
  }

  td {
    padding: 1rem 0;
    position: relative;
  }
  
  td span {
    background-color: black;
    position: relative;
    z-index: 1;
  }
  
  .menu-item::after {
    border-bottom: 2px dotted white;
    content: ' ';
    left: 1rem;
    position: absolute;
    top: 2rem;
    width: calc(100% - 1rem);
    z-index: 0;
  }

  .table-4{
      padding-bottom: 2rem;
  }