body{
    color:rgb(5, 10, 29);
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    text-align: center;
}

head{
    color:rgb(5, 10, 29);
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    text-align: center;
}

nav{
    display: flex;
}


.current-page{
    font-weight: bold;
}

ul{
    list-style-type: none;
}

img{
    padding: 3rem;
}

.links {
    display: flex;
    margin-left: auto;
    padding: 2rem;
}
  
li{
    padding: 0 1rem;
}

h3{
      padding: 2rem;
}

p{
    margin-left: auto;
    margin-right: auto;
}

a{
    text-decoration: none;
    color:rgb(5, 10, 29);
}